/* Universal */
body {
    min-height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.header,
.section,
.footer {
    display: flex;
}

.header,
.footer {
    justify-content: center;
    width: auto;
    min-width: 100%;
    padding: 0.5rem;
}

.section {
    min-width: 320px;
    max-width: 80%;
    padding: 1rem;
    margin: 0 auto 0.65rem auto;
}

.head-font {
    font-family: 'Yeseva One', serif;
    font-weight: 400;
}

.subhead-font {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.dark-txtcolor {
    color:#161616;
}

.light-txtcolor {
    color: #e9efeb;
}

.dark-bgcolor {
    background-color:#161616;
}

.light-bgcolor {
    background-color: #e9efeb;;
}

.accent-bgcolor {
    background-color: #518C7C;
}

/* Navigation (Header) */

.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.nav-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 5rem;
}

.nav-link:active {
    color:#518C7C;
}

/* Hero Section */

.hero-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 8rem 2rem;
    background-image: url(../images/hero-image.jpg);
    background-position:bottom;
    background-size: cover;
}

.hero-text {
    color: #e9efeb;
    text-align: center;
    background-color: hsla(0, 0%, 9%);
    padding: 3rem;
    border-radius: 50%;
}

.hero-text h1 {
    margin-bottom: 0.5rem;
}

.hero-text h1 {
    font-size: 2.5rem;
}

/* CTA Section */

.cta-section {
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.mobile-hours {
    display: none;
}

.hours-table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 1rem;
}

.hours-table td {
    padding-right: 1rem;
    padding-top: 1rem;
    vertical-align: top;
}

.cta-frame {
    width: 50%;
}

.cta-button {
    width: 100%;
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: 600;
}

.cta-button:active {
    transform: translateY(2px);
}

.cta-button:hover {
    cursor: pointer;
}

/* Feature Section */

.feature-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature-heading {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

.feature-gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.gallery-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    margin: 0.5rem;
}

.gallery-image {
    width: auto;
    height: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.gallery-caption {
    height: 50%;
    padding: 0.5rem;
    text-align: center;
}

/* Footer */

.footer {
    align-items: top;
    padding-bottom: 1rem;
}

/* Media Queries */

@media screen and (max-width: 500px) {
    .nav {
        flex-direction: column;
    }
    .hero-section {
        padding: 3rem 2rem;
    }
    .hours-table {
        display: none;
    }
    .mobile-hours {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 1rem;
    }
}