/* Universal */
body {
    min-height: 100%;
    margin: 0;
    background-color: gray;
    font-family: 'Poppins', sans-serif;
}

.header,
.section,
.footer {
    display: flex;
}

.header,
.footer {
    justify-content: center;
    width: auto;
    min-width: 100%;
    padding: 0.5rem;
    border: solid 1px blue;
    background-color: rgb(22, 22, 22);
    color: white;
}

.section {
    min-width: 320px;
    max-width: 80%;
    padding: 1rem;
    margin: 1rem auto;
    background-color: aliceblue;
    border: solid 1px red;
}

.head-font {
    font-family: 'Yeseva One', serif;
    font-weight: 400;
}

.subhead-font {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

/* .body-font {
    font-family: 'Sintony', sans-serif;
    font-size: 14px;
}* /

/* Navigation (Header) */

.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.nav-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    margin: 0 4rem;
}

/* Hero Section */

.hero-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0rem;
}

.hero-text,
.hero-imgframe {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.hero-text {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-text h1 {
    font-size: 2.5rem;
}

.hero-imgframe {
    min-width: 320px;
}


/* Feature Section */

.feature-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature-heading {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

.feature-gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.gallery-frame {
    padding: 0.5rem;
    width: 25%;
}

/* Footer */