/* Universal */
body {
    min-height: 100%;
    background-color: gray;
}

.header,
.section,
.footer {
    display: flex;
    background-color: aliceblue;
}

.header,
.footer {
    justify-content: center;
    width: auto;
    min-width: 100%;
    padding: 0.5rem;
    border: solid 1px blue;
    background-color: rgb(22, 22, 22);
    color: white;
}

.section {
    min-width: 320px;
    max-width: 80%;
    padding: 1rem;
    margin: 1rem auto;
    border: solid 1px red;
}

/* Navigation (Header) */

.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

/* Hero Section */

.hero-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0rem;
}

.hero-text,
.hero-imgframe {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.hero-text {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-imgframe {
    min-width: 320px;
}


/* Feature Section */

.feature-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature-heading {
    margin-bottom: 0.5rem;
}

.feature-gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.gallery-frame {
    padding: 0.5rem;
}

/* Footer */